body{
    font-size: 15px;
}
header{
    color: #ffffff;
    background-color: #185f7d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: center;
}
footer{
    text-align: center;
    background-color: #185f7d;
    color: #ffffff;
    padding: 2em;

}
.navigation {
    width: 100%;
}
.navigation li{
    width: 25%;
}
.dropdown-toggle{
    background-color: #185f7d;
    color: #ffffff;
}
.aside__art--headline{
    list-style-type: none;
    font-size: 3em;
    background-color: #ffffff;
}
.aside__art--headline a{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 1em 0;
    background-color: #185f7d;
}
.aside__art--rank{
    list-style-type: none;
    font-size: 1.5em;
    background-color: #ffffff;
}
.aside__art--rank a{
    color: #000000;
}
.aside__art--rank li {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    margin-top: 2em;
}
article{
    margin: 5em;
}
.section__art--headline{
    background-color: #185f7d;
    color: #ffffff;
    font-size: 3em;
}
p{
    border-bottom: 1px solid #185f7d;
    padding-bottom: 1em;

}
.dropdown-menu > li > a{
    color: #185f7d;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.dropdown-menu .divider{
    width: 100%;
    background-color: #185f7d;
}
.navigation li:hover{
    background-color:  #AF1E23;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #AF1E23;
    color: #ffffff;
}
@media only screen and (max-width: 768px){
    article{
        margin: 1em;
    }
    .navigation li{
        width: 100%;
    }
}
@media only screen and (max-width: 1016px){
    article{
        margin: 2em;
    }
    aside{
        margin-top: -1em;
    }
}